<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBlX0V9vpPCshbVUoMH0O7ou1Tva5rZnxI</string>
	<key>GCM_SENDER_ID</key>
	<string>96794772616</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.psychiatryuk.src</string>
	<key>PROJECT_ID</key>
	<string>psych-uk-medqare-companion</string>
	<key>STORAGE_BUCKET</key>
	<string>psych-uk-medqare-companion.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:96794772616:ios:aea7ec8864a23077c18b3d</string>
</dict>
</plist>